*{
    margin: 0;
    padding: 0;
}
#wrapper{
    width: 100%;
    height:auto;
    margin:auto;
}
#header{
    width:100%;
    height:120px;
    background: rgba(0,0,0,0.47);
    color:#ffffff;
}
#header h3{
    font-size: 40px;
    text-align: center;
}
#menu{
    width:20%;
    height:auto;
    float: left;
    background:#000000;
}
#menu ul{
    width: 100%;
    list-style: none;
}
#menu ul li{
    width: 100%;
    text-align: center;
    line-height: 40px;
    height: 120px;
}
#menu ul li a{
    display:block;
    color: #fff;
    text-decoration:none;
    font-size:18px;
}
#menu ul li:hover{
    background: #333333;
}
#content{
    width: 75%;
    float: left;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
table{
    border-collapse: collapse;
}
table tr{
    height: 50px;
}
textarea{
    width:100%;
}
.button_themsp{
    width:auto;
    height:40px;
    border:1px solid #000;
    text-align:center;
    background:#069;
    line-height:40px;
    color:#fff;
    float:left;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.button_themsp a {
    color: #fff;
    display: block;
    text-decoration: none;
}
.donhang{
    border: 1px solid;
    width: 50%;
    height: auto;
    margin-left: 100px;
}
.donhang table{
    width: 100%;
    height: 200px;
    text-align: left;
    margin-top: 10px;
}
.donhang table td{
    height: 15px;
}
.xoa{
    clear: both;
}
.loginform table span{
    color: #c30307;
}
#footer{
    width: 100%;
    height:120px;
    background-color: rgba(0,0,0,0.47);
    text-align:center;
    line-height:120px;
    font-size:40px;
    color:#ffffff;
}